<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.My.MySettings.COMPUTER_LABConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\COMPUTER_LAB.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.INVENTORYConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\INVENTORY.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.Database11ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database11.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.COMPUTERLAB2ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\COMPUTERLAB2.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.VAYNEREPORTConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\VAYNEREPORT.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.COMLAB1ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\COMLAB1.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.FUCKTHISSHIT1ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\FUCKTHISSHIT1.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.COMLAB1REPORTSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\COMLAB1REPORTS.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.CL1REPORTConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\CL1REPORT.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.MACLABConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MACLAB.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.MACLABREPORTSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MACLABREPORTS.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication1.My.MySettings.MACLABREPConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MACLABREP.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="Adminuser" serializeAs="String">
                <value>amaccadmin</value>
            </setting>
            <setting name="Adminpass" serializeAs="String">
                <value>power</value>
            </setting>
            <setting name="Useruser" serializeAs="String">
                <value>amaccstaff</value>
            </setting>
            <setting name="Userpass" serializeAs="String">
                <value>medium</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
